<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Student Infor</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            // ShowRecord();

            function ShowRecord() {
                //$("#showrecord").empty();
                $.ajax({
                    type: "get",
                    url: "http://localhost:4000/GetUserAll",
                    dataType: "JSON",
                    success: function(data) {

                        var row_num = 0;
                        $.each(data, function(key, value) {
                            alert(value.UserName);
                            // row_num++;
                            // var data_row;
                            // var button_edit = "<button data-toggle='modal' data-target='#myModal' id='edit' onClick='GetRecord(" + value.ProductID + ")' class='btn btn-success btn-sm'>Edit</button>";

                            // var button_delete = "<button id='delete' class='btn btn-danger btn-sm'>Delete</button>";

                            // data_row = "<tr>" +
                            //     "<td>" + row_num + "</td>" +
                            //     "<td>" + value.ProductName + "</td>" +
                            //     "<td>" + value.UnitPrice + "</td>" +
                            //     "<td>" + value.QtyInStock + "</td>" +
                            //     "<td>" + value.CategoryName + "</td>" +
                            //     "<td>" + button_delete + "</td>" +
                            //     "</tr>";

                            // $("#showrecord").append(data_row);
                        });
                    }
                });

            }


            //==============================Save Record
            $('form').on('submit', function(e) {
                e.preventDefault();
                var data_values = $('form').serialize();
                // var UserName = $("#UserName").val();
                // var Gender = $("#Gender").val();
                // var PosistionID = $("#PosistionID").val();

                $.ajax({
                    url: 'http://localhost:4000/AddUser',
                    accepts: 'application/json',
                    contentType: 'application/json',
                    dataType: 'json',
                    data: JSON.stringify(data_values),
                    type: 'POST',
                    success: function(response) {
                        console.log(response);
                    },
                    error: function(error) {
                        console.log(error);
                    }
                });
            });
            //=============================End Save Record
        });
    </script>

</head>

<body>

    <form method="post" action="http://localhost:4000/AddUser">
        <input type="text" name="UserName" placeholder="Name" value="Test" id="UserName" /><br>
        <input type="text" name="Gender" placeholder="Name" value="M" id="Gender" /><br>
        <input type="text" name="PositionID" placeholder="Name" value="1" id="PositionID" /><br>

        <input type="submit" value="Submit" />
    </form>






</body>

</html>