<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Student Infor</title>
</head>
<body>
         <form action = "/addstudent" method = "post">
             <label for = "name">Name</label><br>
             <input type = "text" name = "name" placeholder = "Name" /><br>
             <label for = "email">City</label><br>
             <input type = "text" name = "city" placeholder = "city" /><br>
             <label for = "addr">addr</label><br>
             <textarea name = "addr" placeholder = "addr"></textarea><br>
             <label for = "PIN">City</label><br>
             <input type = "text" name = "pin" placeholder = "pin" /><br>
             <input type = "submit" value = "Submit" />
        </form>
        <h4>Student Lists</h4>

        <table border="1" rules="all" width="80%">
            <tr>
                <td>ID</td>
                <td>Name</td>
                <td>City</td>
                <td>Address</td>
                <td>Pin</td>
                <td>Action</td>

            </tr>
            {% for col in student %}
                <tr>
                    <td>{{col.id}}</td>
                    <td>{{col.name}}</td>
                    <td>{{col.city}}</td>
                    <td>{{col.addr}}</td>
                    <td>{{col.pin}}</td>
                    <td>
                        <a href="#">Edit</a>
                        <a href="deleteuserid/{{col.id}}">Delete1</a>

                    </td>
                </tr>
             {% endfor %}
        </table>
</body>
</html>