<!--{% extends "index.html" %}-->
{% block content %}
<div class="content-wrapper" style="min-height: 946px;">
        <!-- Content Header (Page header) -->
        <section class="content-header">
          <h1>
           User Information
            <small>Preview</small>
          </h1>
          <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li><a href="#">Forms</a></li>
            <li class="active">General Elements</li>
          </ol>
        </section>

        <!-- Main content -->
        <section class="content">
          <div class="row">
            <!-- left column -->
            <div class="col-md-12">
              <!-- general form elements -->
              <div class="box box-primary">
                <div class="box-header with-border">
                  <h3 class="box-title"><a href="/adduser"><span class="glyphicon glyphicon-plus" style="color:green;">Add User</span></a></h3>
                </div><!-- /.box-header -->

                <!-- form start -->
                    <div style="margin:10px;">
                        <form action="/usercreate"  method="post" enctype="multipart/form-data">
                 <div class="row">
                     <div class="col-md-6">
                         <div class="form-group">
                             <label>Username :</label>
                             <input type="text" name="txt_username" class="form-control" required>
                         </div>
                     </div>
                     <div class="col-md-6">
                         <div class="form-group">
                            <label class="control-label">Gender :</label>
                            <select class="form-control" name="ddlgender" required>
                                <option value="Male" selected>Male</option>
                                <option value="Female">Female</option>
                            </select>
                         </div>
                     </div>
                 </div>
                 <div class="row">
                     <div class="col-md-6">
                         <div class="form-group">
                             <label class="control-label">Date Of Birth :</label>
                             <input type="date" name="txt_date" class="form-control" required>
                         </div>
                     </div>
                     <div class="col-md-6">
                         <div class="form-group">
                            <label class="control-label">Password :</label>
                            <input type="password" name="txt_password"  class="form-control" required>
                         </div>
                     </div>
                 </div>
                 <div class="row">
                     <div class="col-md-6">
                         <div class="form-group">
                             <label class="control-label">Description :</label>
                             <input type="text" name="txt_description" class="form-control" required>

                         </div>
                     </div>
                     <div class="col-md-6">
                         <div class="form-group">
                            <label class="control-label">Salary :</label>
                            <input type="text" name="txt_salary" class="form-control" required>

                         </div>
                     </div>
                 </div>
                 <div class="row">
                     <div class="col-md-6">
                         <div class="form-group">
                             <label class="control-label">Phone :</label>
                             <input type="text" name="txt_phone" class="form-control"required>

                         </div>
                     </div>
                     <div class="col-md-6">
                         <div class="form-group">
                            <label class="control-label">Active :</label>
                           <select class="form-control" name="ddlactive" required>
                               <option value="Active">Active</option>
                               <option value="Inactive">Inactive</option>
                           </select>

                         </div>
                     </div>
                 </div>
                 <div class="row">
                     <div class="col-md-6">
                         <div class="form-group">
                             <label class="control-label">Position :</label>
                             <select class="form-control" name="ddlposition" required>
                               <option value="">Select Position</option>
                               {% for row in position %}
                                    <option value="{{ row.0 }}">{{ row.0 }}</option>
                               {% endfor %}
                           </select>

                         </div>
                     </div>
                     <div class="col-md-6">
                         <div class="form-group">
                            <label class="control-label">Photo :</label>
                            <input type="file" name="file"  class="form-control">

                         </div>
                     </div>
                 </div>
                 <div class="row">
                     <div class="col-md-6">
                         <div class="form-group">
                            <input type="submit" value="Save" name="btn_name"  class="btn btn-primary">
                            {% with messages = get_flashed_messages() %}
                               {% if messages %}
                                  {% for message in messages %}
                                    <span style="color:green;">{{ message }}</span>
                                  {% endfor %}
                               {% endif %}
                            {% endwith %}

                         </div>
                     </div>
                 </div>
            </form>
                    </div>





              </div><!-- /.box -->

            </div><!--/.col (left) -->
            <!-- right column -->

          </div>   <!-- /.row -->
        </section><!-- /.content -->
      </div>
{% endblock %}

